[Unit]
Description=carbon-relay

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill carbon-relay
ExecStartPre=-/usr/bin/docker rm carbon-relay
ExecStartPre=/usr/bin/docker pull makana.io/makanab/carbonrelay
ExecStart=/bin/sh -c "/usr/bin/docker run --rm --name carbon-relay -v /var/lib/graphite/storage/whisper -e HOST_IP=$COREOS_PRIVATE_IPV4 -p 20003:2003 -p 20004:2004 -p 7002:7002 makana.io/makanab/carbonrelay"
ExecStartPost=/bin/sh -c "/usr/bin/etcdctl set /services/carbonrelay $COREOS_PRIVATE_IPV4"
ExecStop=/usr/bin/docker stop carbon-relay
ExecStopPost=/usr/bin/etcdctl rm /services/carbonrelay

[X-Fleet]
X-Conflicts=carbon-cache@*.service
